.better-nav {
    background-color: #f0f0f0;
}
.custom-nav {
    padding-top: 2%;
    padding-left: 4.5%;
    padding-right: 4.5%;
}
.custom-button {
    color:black;
    text-decoration: none;
    background-color: #f0f0f0;
    padding:10px 20px;
    font-weight: 600;
    font-size: small;
    border-radius: 6px;
    text-align: center;
    border: 1px lightgrey solid;
    display: inline-flex;
}
.custom-button:hover {
    color:#379bed;
    text-decoration: inherit;
    background-color: #f0f0f0;
    border-color: #379bed;
}
.custom-button:active {
    background-color:#379bed !important;
    color:black !important;
    
}
.nav-link:hover {
    color: #379bed !important;
}
.custom-header {
    text-align:center;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 11.8%;
    padding-bottom: 1%;
    color: #615a5a;
    font-size: 65pt;
    font-weight: 500;
    line-height: 64pt;
}
.custom-subscript {
    text-align: center;
    padding-left: 37%;
    padding-right: 37%;
    color: #a6a6a6;
    line-height: 20pt;
    font-size: 16pt;
    padding-bottom: 1.6%;
}
.fake-tron {
    background-color: #f0f0f0;
}
.downbutton {
    padding-left:49%;
    padding-right:49%;
}
.extra-filler {
    padding-bottom: 5%;
}
.card-group {
    padding-left: 28%;
}
.card-holder {
    width: 19%;
    padding: 2%;
}
.card {
    text-align: center;
}
.price-detail {
    padding-bottom: 8px;
    padding-top: 13px;
}
.card-head {
    padding: 10px;
}
.custom-pricing-button {
    color:black;
    text-decoration: none;
    background-color: #f0f0f0;
    padding:10px 20px;
    font-weight: 600;
    font-size: small;
    border-radius: 6px;
    text-align: right;
    border: 1px black solid;
    display: inline-flex;
}
.custom-pricing-button:hover {
    color:#379bed;
    text-decoration: inherit;
    background-color: #f0f0f0;
    border-color: #379bed;
}
.custom-pricing-button:active {
    background-color:#379bed !important;
    color:black !important;
    
}
.footer-p {
    font-size: 11px;
    color: darkgrey;
}
.footer-h6 {
    font-size: 13px;
    color: grey;
}
::placeholder {
    font-size: 14px;
    color: darkgrey;
    line-height: 40px;
}
.footer-email {
    border: 1px solid darkgrey;
    border-radius: 4px;
    height: 30px;
    padding: 6px;
}
br {
    line-height: 35px;
}
.footer-br {
    line-height: 12px;
}
.footer-about {
    padding: 10px;
}
.footer-contact {
    padding: 10px;
}
.footer-location {
    padding: 10px;
}
.footer-signup {
    padding: 10px;
}
.col-centered {
    float: none;
    margin-right: auto;
    margin-left: auto;
}